<div class="row text-center">
    <div class="col">
        <h1>counter</h1>
        <h2>{{ counter }}</h2>
    </div>
</div>

<div class="row text-center">
    <div class="col">
        <button type="button" (click)="increase()" class="btn btn-outline-primary m-1">Increase</button>
        <button type="button" (click)="decrease()" class="btn btn-info m-1">Decrese</button>
    </div>
</div>

<!-- <hr>

<div class="row text-center">
    <div class="col">
        <app-song [counter]="counter" (counterChange)="counter = $event"></app-song>
    </div>
</div> -->

<router-outlet></router-outlet>